
body{
    background: rgb(190, 174, 205);
    height: 1200px;
}
header{
    background-color: purple;
    padding: 30px;
    align-items: center;
    position: relative;
    font-family: 'Signika Negative', sans-serif;
    position: fixed;
    width: 100%;
    z-index: 19;
    top: 0px;
    margin: 0 auto;
       
}
.accordion-body{
    margin-top: 150px;
}

ul{
    display: flex;
    justify-content: space-between;
    width: 500px;
}

.navigation-div{
    display: flex;
    justify-content: space-between;
    width: 92%;
}

.burger-bar{
    position: absolute;
    top: 18px;
    right: 120px;
    cursor: pointer;
    display: none;
    height: 40px;
    z-index: 18;
}

.line{
    width: 30px;
    height: 2px;
    background: white;
    cursor: pointer;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    transition: all 1.5s;
    z-index: 19;
    
}

.line1{
    top: 30%;
}

.line3{
    top: 70%;
}


.ul-item{
    margin-left: 400px;
}

.activeBurgerBar .line1{
    top: 50%;
    transform: translate(-50%, -50%) rotate(45deg)
}
.activeBurgerBar .line2{
    display: none;
}

.activeBurgerBar .line3{
    top: 50%;
    transform: translate(-50%, -50%) rotate(-45deg)
}

.nav-ul.toggleulNavigation {
    position: absolute;
    top: 0;
    left: 0;
    background-color: palevioletred;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: 17;    
}

.a-li{
    color: white;
}
.navbar {
    background-color: lightblue;
    padding: 30px;
    display: flex;
    justify-content: space-between;
    position: relative;
}
.nav-ul {
    list-style: none;
    display: flex;    
}

.container{
    margin: 50px auto;
    max-width: 600px;
    width: 100%;
    padding: 50px;
    background-color: rgb(168, 54, 136);
    cursor: pointer;
    color: white;
}



.accordion-title{
    position: relative;
    font-size: 18px;
    font-family: 'Signika Negative', sans-serif;
}
.accordion-title::before {
    content: '+';
    position: absolute;
    right: 50px;
    transform: translate(-50%);
}

.content{
    width: 100%;
    display: none;
    transition: all 0.5s;
    padding-top: 20px;
    font-family: 'Signika Negative', sans-serif;
}

.container.activeContainer .content{
    display: block;
}

.container.activeContainer .accordion-title::before{
    content: '-';
}

.top{
    position: fixed;
    z-index: 27;
    right: 10px;
    bottom: 20px;
    background: rgb(161, 53, 94);
    border: none;
    color: white;
    font-family: 'Signika Negative', sans-serif;
    border-radius: 5px;
}

.change-color{
    background-color: rgb(130, 211, 0);
    transition: all 0.5s;
}

.header{
    background-color:  rgb(156, 146, 152);
    padding: 30px;
    align-items: center;
    position: relative;
    font-family: 'Signika Negative', sans-serif;
    position: fixed;
    width: 100%;
    z-index: 19;
    top: 0px;
    margin: 0 auto;
       
}
/* 

  .section {
    height: 1000px;
  } */